<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <title>Current Tours</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="container">

                <h1>Current Tournaments</h1>

                <div class="row md">
                    <div class="col-md-4 main-grid-col">
                    TOUR NAME: {{info.name}}</div>
                    <div class="col-md-6 main-grid-col">
                    DATE: {{ info.date_beginning | data_formated }}- {{ info.date_ending | data_formated }}</div>
                    <div class="col-md main-grid-col">
                    ROUND: {{ info.current_round[0].round}}</div>
                </div>


                <div class="row md-2">
                    <div class="col-md-1 const-grid-col">round</div>
                    <div class="col-md const-grid-col">players</div>
                    <div class="col-md-2 const-grid-col">player_1 score</div>
                    <div class="col-md-2 const-grid-col">player_2 score</div>
                    <div class="col-md-1 const-grid-col">draws</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1 the-grid-col">1</div>
                    <div class="col-md the-grid-col">
                        1. {{ info.players[0].first_name }}
                        {{ info.players[0].last_name }}</div>
                    <div class="col-md-1 the-grid-col">vs</div>
                    <div class="col-md the-grid-col">
                        2. {{ info.players[1].first_name }}
                        {{ info.players[1].last_name }}</div>
                    <div class="col-md-2 the-grid-col">1</div>
                    <div class="col-md-2 the-grid-col">1</div>
                    <div class="col-md-1 the-grid-col">0</div>
                </div>
                {{ info }}
                <p>
                    <a target="_blank" href="http://localhost:8000/events/players/9/player_history/">Player History</a>
                </p>

            </div> <!-- /container -->
                <!-- <li v-for="key, value in info" class="el" v-if= 'value !== "players"' >
                    {{ value }}: {{ key }}<br>
                </li>
                <li v-for="key, value in info" class="el" v-else-if= 'value === "current_round"' >
                    {{ value }}: {{ key[0] }}<br> -->
          </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="ct.js"></script>
    </body>
</html>
