<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <title>Settings</title>
    </head>
    <body>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
          <a class="navbar-brand" href="file:///Users/marsza/workspace/mtg_frontend/html:js/current_tours.html">MTG Tours </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExample06" aria-controls="navbarsExample06"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/current_tours.html">Current tournaments<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/history.html">History</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/create_tournament.html">Create tournament</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/invite_player.html">Invite new player</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/players_settings.html">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="file:///Users/marsza/workspace/mtg_frontend/html:js/logout.html">Logout</a>
                </li>
            </ul>
          </div>
        </nav>

        <form class="form-signin"
          id="app"
          @submit="checkForm"
          method="put">
          <h1 class="mb-3 font-weight-normal">Player's settings</h1>

          <section class=error v-if="errored">
            <p>{{ errored }} </p>
          </section>
          <section class=message v-if="correct">
            <p>Changes have been saved</p>
          </section>
          <p>
            <label for="inputName" class="sr-only">First name</label>
            <input
            type="text"
            v-model="first_name"
            class="form-control"
            id="inputName"
            v-bind:placeholder='first_name' required autofocus>
            </p>
            <p>
              <label for="inputName" class="sr-only">Last name</label>
              <input
              type="text"
              v-model="last_name"
              class="form-control"
              id="inputName"
              :placeholder='last_name' required autofocus>
              </p>
          <p>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input
            type="email"
            id="inputEmail"
            v-model="email"
            class="form-control"
            placeholder='email' required autofocus>
          </p>
          <button class='btn btn-primary' type="submit" name="button">Save</button>
          <a class="btn btn-dark" href="file:///Users/marsza/workspace/mtg_frontend/html:js/reset_password_request.html" role="button">Change password</a>
        </form>

        <script src="players_settings.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
